<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies Research</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gasoek+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gasoek+One&family=Gowun+Batang&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <link rel="stylesheet", href="/public/searchresults.css">
</head>
<body>
    <nav class="navbar navbar-light" style="background-color: #0A1D56;">
        <a class="navbar-brand" href="/" id = "title_id">
            <span style="color:#fff"><%= locals.title %></span>
        </a>
    </nav>
    <nav class="navbar navbar-light2" style="background-color: #0A1D56;">
        <p>Search Results : "<span id="userInput"></span>"</p>
        <div class="search_input_box">
            <form class="Search-form">
                <svg width="20" height="20" class="DocSearch-Search-Icon" viewBox="0 0 20 20" aria-hidden="true">
                    <path d="M14.386 14.386l4.0877 4.0877-4.0877-4.0877c-2.9418 2.9419-7.7115 2.9419-10.6533 0-2.9419-2.9418-2.9419-7.7115 0-10.6533 2.9418-2.9419 7.7115-2.9419 10.6533 0 2.9419 2.9418 2.9419 7.7115 0 10.6533z" stroke="white" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                <input id="query" name="query" maxlength="255" autocomplete="off" class="search_input" data-atcmp-element="" list="searchItems">
                <button class="btn-outline-secondary" type="button" id="search-button">검색</button>
                <datalist id="searchItems">
                    <!-- <option value="web">
                    <option value="samsung"> -->
                </datalist>
            </form>
        </div>
    </nav>
    <div class="main-container">
        <div class="container" id="card-container">
            <div class="row row-cols-4" id="card-list">
              </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script> 
    $(document).ready(function () {
        const options = {
            method: 'GET',
            headers: {
                accept: 'application/json',
                Authorization: 'Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI4Y2RiMTA4NmJmYjY1OTdkNzkyYTQwMTE4NjM5NmQwZSIsInN1YiI6IjY1YWNmMGE5ZjI2M2JhMDBlYWIzYmM0ZiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.2XC3aT7eN4o25YFPRrg5w2_DevTdrINWE9T6aNT00qc'
            }
        };
        // Search 검색창 코드
        let globalItemInfo = {};
        let globaluserInput = '';
        $("#query").on('input', function(){
            let searchItemList = [];
            let userInput = $(this).val();
            let itemInfo = {};
            console.log("userInput : ",userInput)

            fetch('https://api.themoviedb.org/3/search/movie?include_adult=false&language=en-US&page=1&query='+ userInput, options)
            .then(response => response.json())
            .then(response=>{
                console.log(response);
                
                // 검색 결과 5개만 출력
                k = 5
                for (let i = 0; i < k; i++){
                    searchItemList.push(response.results[i].title)
                }
                console.log(searchItemList)
                $('#searchItems').html('');
                const searchItems = $('#searchItems');

                for (let i = 0; i < searchItemList.length; i++){
                    let val = `<option value="${searchItemList[i]}">`;
                    searchItems.append(val);
                }
                
                for (let response_length = 0; response_length < response.results.length; response_length++){
                    let search_genre = response.results[response_length].genre_ids.join(',');
                    itemInfo[response.results[response_length].id] = {'title' : response.results[response_length].title, 'posterImg' : response.results[response_length].poster_path, 'date' : response.results[response_length].release_date, 'genre' : search_genre}
                }
                console.log(itemInfo)

                globalItemInfo = itemInfo
                globaluserInput = userInput
            });
        });

        $(document).keypress(function(event){
            if (event.which === 13){
                
                event.preventDefault();// 페이지 새로고침 중지
                $('#search-button').click();
            }
        })

        $('#search-button').on('click', function(){
            searchMovie(globaluserInput, globalItemInfo)
        })
    })

    document.addEventListener('DOMContentLoaded', function(){
        const urlParams = new URLSearchParams(window.location.search);
        const UserInput = urlParams.get('globaluserInput');
        const searchMovies = urlParams.get('globalItemInfo');

        if (UserInput){
            const inputVal = decodeURIComponent(UserInput);
            document.getElementById('userInput').innerText = inputVal;
            console.log(inputVal)
        }

        if (searchMovies){
            const moviesObj = JSON.parse(decodeURIComponent(searchMovies));
            console.log(moviesObj);

            let cardInner = $('#card-list').html('');
            cardInner.addClass('g-5');

            for (let movieIdx = 0; movieIdx < Object.keys(moviesObj).length; movieIdx++){
                if (Object.values(moviesObj)[movieIdx].posterImg){
                    let card = `<div class="col">
                                <div class="row row-cols-md-6 row-cols-lg-6">
                                    <img src="https://image.tmdb.org/t/p/w500${Object.values(moviesObj)[movieIdx].posterImg}" class="card-img-top" style = "width : 100%; height : 100%" onclick="openPopup('${Object.values(moviesObj)[movieIdx].title}', '${Object.values(moviesObj)[movieIdx].genre}', '${Object.values(moviesObj)[movieIdx].posterImg}', '${Object.values(moviesObj)[movieIdx].date}','${Object.keys(moviesObj)[movieIdx]}')" alt="...">
                            </div>
                        </div>`;
                    cardInner.append(card);
                }
                else{
                    let imagePath = `/public/noImage.png`;
                    let card = `<div class="col">
                                <div class="row row-cols-md-6 row-cols-lg-6">
                                    <img src="/public/noImage.png" class="card-img-top" style = "width : 100%; height : 430px" alt="...">
                            </div>
                        </div>`;
                    cardInner.append(card);
                }
                console.log(Object.values(moviesObj)[movieIdx].posterImg);
            }
        }
    })
    function openPopup(title, genre, posterImg, date, movieID){
        window.location.href = `/detailedmovie?title=${encodeURIComponent(title)}&genre=${encodeURIComponent(genre)}&posterImg=${encodeURIComponent(posterImg)}&date=${encodeURIComponent(date)}&movieID=${encodeURIComponent(movieID)}`;
    }
    function searchMovie(globaluserInput, globalItemInfo){
        window.location.href = `/searchresults?globaluserInput=${encodeURIComponent(globaluserInput)}&globalItemInfo=${encodeURIComponent(JSON.stringify(globalItemInfo))}`  
    }
    </script>
</body>
</html>