*{
    font-family: 'Gowun Batang', serif;
}
body{
    background-color: #0A1D56;
    color : #fff;
}
#title_id{
    margin-left: 20px;
}

#card-container{
    margin-top: 100px;
    width : 1300px;
    height : 1200px;
}
.col {
  width: 200px;
  height: 280px;
}

.card {
  width: 100%;
  height: 100%;
}

.card img {
  width: 100%;
  height: 100%;
}

#Moremovies{
    width: 100%;
    background-color: #c0c0c0;;
}