*{
    font-family: 'Gowun Batang', serif;
}

body{
    background-color: #0A1D56;
    color : #fff;
}

#title_id{
    margin-left: 20px;
}

#login_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height : 100vh;
}

#inputEmail,
#inputPassword{
    width: 700px;
}
