*{
    font-family: 'Gowun Batang', serif;
}
body{
    background-color: #0A1D56;
    color : #fff;
}
#title_id{
    margin-left: 20px;
}
.navbar.navbar-light2 {
    margin-left: 20px;
}
#main-container{
    margin-top: 50px;
    width:1290px;
    margin-bottom: 100px;
}
.search_input_box{
    margin-top: -20px;
    /* margin-left: 1030px; */
}

#card-container{
    margin-top: 30px;
}

.Search-form{
    margin-top: 56px;
    margin-right: 310px;
}

.navbar.navbar-light2 >  p {
    margin-left: 285px;

}